@font-face {
  font-family: 'JuraDemiBold';
  src: local('Jura Demi-Bold'), local('JuraDemiBold'),
    url('hinted-subset-JuraDemiBold.woff2') format('woff2'),
    url('hinted-subset-JuraDemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JuraMedium';
  src: local('Jura Medium'), local('JuraMedium'),
    url('hinted-subset-JuraMedium.woff2') format('woff2'),
    url('hinted-subset-JuraMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JuraLight';
  src: local('Jura Light'), local('JuraLight'),
    url('hinted-subset-JuraLight.woff2') format('woff2'),
    url('hinted-subset-JuraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JuraBook';
  src: local('Jura Book'), local('JuraBook'),
    url('hinted-subset-JuraBook.woff2') format('woff2'),
    url('hinted-subset-JuraBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


$jB = 'JuraDemiBold', Arial, 'Helvetica Neue', Helvetica, sans-serif
$jM = 'JuraMedium', Arial, 'Helvetica Neue', Helvetica, sans-serif
$jL = 'JuraLight', Arial, 'Helvetica Neue', Helvetica, sans-serif
$jR = 'JuraBook', Arial, 'Helvetica Neue', Helvetica, sans-serif
